
.titulo_projetos{
    margin-top:4em;
    font-size: 3em;
    font-weight: 500;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
    text-align: center;
}
.descricao_projetos{
    margin-top: 1em;
    color: #929292;
    text-align: center;
    font-family: Open Sans;
    margin-bottom:2.5em
}
button{
    background-color: #F2994A;
    color: #ffffff;
    text-align: center;
    width: 10em;
    font-size: large;
    font-weight: bold;
    font-family: Open Sans;
    border-radius: 1em;
    margin-bottom:2em;
    margin-left: 0.5em
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-self: center;
    gap: 2em;
    list-style: none;
    justify-content:start;
    margin-right:3em;
}

ul li {
    background: #000a22;
    padding: 1.2em;
    border-radius: 30px;
    position: relative;
    justify-content: space-between;
    display:flex;
    flex-direction: column
}
ul li strong {
    display: inline-block;
    font-size: 2.2em;
    color: #f2994a;
}

ul li a p{
    display:inline-block;
    color: #f77801;
    font-size: 1.5em;
}
ul li p {
    color: #737380;
    font-size: 1.5em;
}