.home_container {
    margin-top: 0;
}

.home_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max(300px, 56vw);
}

.home_caixa_superior {
    width: 60%;
    text-align: center;
    margin: max(4vw, 20px) 0 max(4vw, 20px) 0;    
}

.home_texto_superior {
    font-size: max(11px, 1.5vw);
    font-weight: normal;
    line-height: max(16px, 2.5vw);
    color: #F2F2F2;
    text-shadow: 2px 2px black;
}

.home_saiba_mais_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(90px, 15vw);
    height: max(35px, 4.5vw);
    padding: max(7px,0.7vw);
    font-size: max(11px, 1.5vw);
    border-radius: 10vw;
    font-family: Open Sans;
    color: white;
    border: 2px solid #fc8300;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.home_saiba_mais_btn:hover {
    background-color: #fc8300;
}

.home_parallax_superior {
    width: 100vw;
    height: max(400px, 62vw);
    object-fit: cover;
}

.home_bloco_info {    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: max(300px, 30vw);
}

.home_asset {
    width: max(150px, 25vw);
    object-fit: contain;
}

.home_caixa_textos {
    width: max(260px, 60vw);
}

.home_title {
    text-align: center;
    line-height: normal;
    font-size: max(3vw, 26px);
    font-weight: 500;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
}

.home_descricao {
    font-weight: normal;
    font-size: max(11px, 1.5vw);
    line-height: max(16px, 2.5vw);
    text-align: center;
    color: #434343;
}

.invert {
    flex-direction: row-reverse;
}

.home_parallax_window {
    height: max(250px, 38vw);
}

.home_parallax_img {
    width: 100vw;
    height: max(350px, 44vw);
    margin-top: max(60px, 4vw);
    object-fit: cover;
}

@media (max-width: 800px) {

    .caixa_superior {
        width: 70%;
    }

    .home_bloco_info {
        flex-direction: column;
        justify-content: center;
    }

    .invert {
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .caixa_superior{
        width: 85%;
    }
}