.homepage_container{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.parallax_img{
    width: 100vw;

}
.caixa-superior{
    width: 75%;
    padding: 1.5vw;
    text-align: center;
    margin-top: 12vw;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
}

.texto-superior{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 1.6;
    text-align: center;
    align-content: center;

    color: #F2F2F2;
}

.saiba-mais{
    width: 25%;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
    margin-top: 2vw;
    padding: 0.5vw;
    background: #F2994A;
    border-radius: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 3vw;
    text-align: center;
    display: inline-block;
    color: white;
    border: none;
    transition: 0.15s;
}
.saiba-mais:hover{
    box-shadow: 0 0 0 rgba(0,0,0,0);
    cursor: pointer;
}

.textos{
    display:block;
}

.titulo{

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 3em;
    text-align: center;

    color: #434343;
}

.descricao{

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #434343;
}

.img{
    width: 20em;
    height: 15em;

    border-radius: 30px;
}


.bloco_info{
    display: flex;
    margin-bottom: 11em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 800px){
    .parallax_img img{
        max-width: 100%;
        min-height: 300vh;
    }
    .parallax_img {
        width: 100vw;
    
    }
}