@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*********************/
/* body e html geral */
/*********************/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;  /* fonte default: Open Sans, fallback para sans-serif, vale a pena colocarmos */
    font-style: normal;                    /* mais fontes como fallback antes de usarmos a sans-serif */
    font-weight: normal;
    background-color: #EAF7FB;
    color: #929292;
}

.container {
    margin-top: 3vw;
    font-size: 2vw;
}


/****************************/
/* Estilização do Cabeçalho */
/****************************/

.cabecalho {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vw;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #041846;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.transparente {
    background-color: transparent;
    box-shadow: none;
}

.cabecalho_logo {
    display: flex;
    margin-left: 2vw;
    height: 5.5vw;
}

.cabecalho_txt:link {
    text-transform: uppercase;
    font-size: 1.7vw;
    margin-right: 3vw;
    color: #EAF7FB;
    transition: 0.1s;
}

.cabecalho_txt:visited {
    color: #EAF7FB;
}

.cabecalho_txt:hover,
.cabecalho_txt:focus {
    cursor: pointer;
    color: #FC8300;
}

/*
Altera a cor do nome da página ativa no cabeçalho.
!important foi utilizado para ignorar o override dado por :visited
*/
.texto_ativo { 
    color: #FC8300 !important;
}

@media (max-width: 800px){

    html, body {
        font-size: 5vw;
    }
    
    .cabecalho {
        justify-content: center;
        height: max(9vw, 50px);
    }

    .cabecalho_logo {
        height: max(7vw, 35px);
        margin-left: 0;
    }

    .hamburguer_on {
        position: absolute;
        left: 0;
    }

    .hamburguer_btn {
        height: max(9vw, 50px);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    :root {
        --sidebar_width: max(25vw, 150px);
    }

    .sidebar {
        position: fixed;
        height: 100%;
        width: var(--sidebar_width);
        background-color: #001136;
        transition: 0.5s;
    }

    .shown {
        margin-left: 0;
    }
    
    .hidden {
        margin-left: calc(-1 * var(--sidebar_width));
    }

    .sidebar_items {
        display: inline-grid;
        grid-template-rows: repeat(5, 1fr 15px);
        margin-top: 6.3px;
        height: max(45vh, 300px);
        width: 100%;
    }

    .sidebar_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: 0.2s;
    }

    .sidebar_btn:hover {
        background-color: #051e5a;
    }

    .sidebar_btn:hover > .cabecalho_txt {
        color: #FC8300
    }

    .btn_ativo {
        background-color: #041846;
    }

    .separador {
        width: 90%;
        height: 0;
        border: 0;
        border-top: 3px solid #041846;
        margin: auto;
    }

    .cabecalho_txt:link {
        display: flex;
        position: absolute;
        margin: 0;
        font-size: max(2.2vw, 13px);        
    }
}

a {
    color: #EAF7FB;
    text-decoration: none;
    outline: 0
}

a:visited {
    text-transform: inherit;
    text-decoration: none; 
    font-size: inherit;
    color: inherit
}


/*************************/
/* Estilização do Rodapé */
/*************************/

.rodape {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-top: 2vw;
    background-color: #041846;
}

.rodape_logo {
    width: max(150px, 18vw);
}

.social_ctr {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
}

.social_title {
    border-radius: 30px;
    font-size: max(13px, 1.5vw);
    padding: 1vw;
    color: #FFFFFF;
    background-color: #FC8300;
}

.social_grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max(34px, 3.3vw);
    column-gap: max(10px, 1vw);
}

.social_circle {
    width: max(34px, 3.3vw);
    border-radius: 100%;
    transition: 0.2s;
}

.social_circle:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.location_ctr {
    display: flex;
    flex-direction: column;
}

.location_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.location_link:hover {
    background-color: #051c52;
}

.location_link:hover .location_icon {
    color: #FC8300;
}

.location_icon {
    color: #FFFFFF;
    font-size: max(20px, 3vw);
    margin-right: max(5px, 0.5vw);
}

.location_title {
    color: #FFFFFF;
    font-size: max(18px, 2vw);
    line-height: 0;
}

.location_text {
    display: flex;
    padding: max(5px, 1vw);
    font-size: max(11px, 1.1vw);
    margin: 0;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 800px) {

    .rodape {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px 100px;
    }

    .social_title {
        display: none;
    }
}