@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*********************/
/* body e html geral */
/*********************/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;  /* fonte default: Open Sans, fallback para sans-serif, vale a pena colocarmos */
    font-style: normal;                    /* mais fontes como fallback antes de usarmos a sans-serif */
    font-weight: normal;
    background-color: #EAF7FB;
    color: #929292;
}

.container {
    margin-top: 3vw;
    font-size: 2vw;
}


/****************************/
/* Estilização do Cabeçalho */
/****************************/

.cabecalho {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vw;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #041846;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
}

.cabecalho_logo {
    display: flex;
    margin-left: 2vw;
    height: 5.5vw;
}

.cabecalho_txt:link {
    text-transform: uppercase;
    font-size: 1.7vw;
    margin-right: 3vw;
    color: #EAF7FB;
    transition: 0.1s;
}

.cabecalho_txt:visited {
    color: #EAF7FB;
}

.cabecalho_txt:hover,
.cabecalho_txt:focus {
    cursor: pointer;
    color: #F2994A;
}

/*
Altera a cor do nome da página ativa no cabeçalho.
!important foi utilizado para ignorar o override dado por :visited
*/
.texto_ativo { 
    color: #F2994A !important;
}

@media (max-width: 800px){

    html, body {
        font-size: 5vw;
    }
    
    .cabecalho {
        justify-content: center;
        height: max(9vw, 50px);
    }

    .cabecalho_logo {
        height: max(7vw, 35px);
        margin-left: 0;
    }

    .hamburguer_on {
        position: absolute;
        left: 0;
    }

    .hamburguer_btn {
        height: max(9vw, 50px);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    :root {
        --sidebar_width: max(25vw, 150px);
    }

    .sidebar {
        position: fixed;
        height: 100%;
        width: var(--sidebar_width);
        background-color: #001136;
        transition: 0.5s;
    }

    .show {
        margin-left: 0;
    }
    
    .hide {
        margin-left: calc(-1 * var(--sidebar_width));
    }

    .sidebar_items {
        display: inline-grid;
        grid-template-rows: repeat(5, 1fr 15px);
        margin-top: 6.3px;
        height: max(45vh, 300px);
        width: 100%;
    }

    .sidebar_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: 0.2s;
    }

    .sidebar_btn:hover {
        background-color: #051e5a;
    }

    .sidebar_btn:hover > .cabecalho_txt {
        color: #F2994A
    }

    .btn_ativo {
        background-color: #041846;
    }

    .separador {
        width: 90%;
        height: 0;
        border: 0;
        border-top: 3px solid #041846;
        margin: auto;
    }

    .cabecalho_txt:link {
        display: flex;
        position: absolute;
        margin: 0;
        font-size: max(2.2vw, 13px);        
    }
}

a {
    color: #EAF7FB;
    text-decoration: none;
    outline: 0
}

a:visited {
    text-transform: inherit;
    text-decoration: none; 
    font-size: inherit;
    color: inherit
}


/*************************/
/* Estilização do Rodapé */
/*************************/

.rodape {
    background: #041846;
    justify-content: space-evenly;
    display: flex;
    margin-top: 0.05vw;
    align-items: center
}
.rodape_logo2{
    padding: 3vw;
    width: 15vw;
    height: auto;
}
.rodape_social{
    padding: 1vw;
    text-align: center
}
.rodape_social_box{
    background: #F5761D;
    border-radius: 30px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #FFFFFF;
    padding: 1vw;
}

.link_rodape {
    width: 3.3vw;
    height: 3.3vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    transition: 0.025s;
    border-radius: 3vw;
}
.link_rodape:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
.location {
    width: 15vw;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
    line-height: 2vw;
    color: #FFFFFF
}
.location_text {
    font-style: normal;
    margin-top: -2vw;
    font-weight: bold;
    font-size: 1.1vw;
    line-height: 1.2vw;
    color: #FFFFFF
}
@media (max-width: 800px){
    .rodape {
        background: #041846;
        display: flex;
        flex-direction: column;
        margin-top: 10vw;
    }
    .rodape_logo2{
        padding: 3vw;
        width: 34vw;
        height: auto;
        margin-bottom: 4vw;
    }
    .rodape_social_box{
        display: none;
    }

    .link_rodape {
        width: 10vw;
        height: auto;
        margin-top: -13vw;
        margin-right: 1vw;
        margin-left: 3.1vw;
        transition: 0.025s;
        border-radius: 3vw;
    }

    .location {
        padding: 1vw;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: bold;
        font-style: normal;
        font-size: 110%;
        color: #FFFFFF;
        margin-top: -9vw;
    }

    .location_text {
        font-style: normal;
        font-weight: bold;
        font-size: 60%;
        line-height: 100%;
        color: #FFFFFF;
        margin-top: -3vw;
    }
   
}