@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*********************/
/* body e html geral */
/*********************/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;  /* fonte default: Oswald, fallback para sans-serif, vale a pena colocarmos */
    font-style: normal;                 /* mais fontes como fallback antes de usarmos a sans-serif */
    font-weight: normal;
    background-color: #EAF7FB;
}

.container {
    margin-top: 3vw;
    font-size: 2vw;
}


/****************************/
/* Estilização do Cabeçalho */
/****************************/

.cabecalho {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vw;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background: #041846;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
}

.cabecalho_logo {
    display: flex;
    margin-left: 2vw;
    height: 5.5vw;
}

.cabecalho_txt:link {
    text-transform: uppercase;
    font-size: 1.7vw;
    margin-right: 3vw;
    color: #EAF7FB;
    transition: 0.1s;
}

.cabecalho_txt:visited {
    color: #EAF7FB;
}

.cabecalho_txt:hover,
.cabecalho_txt:focus,
.cabecalho_txt:active {
    cursor: pointer;
    color: #F2994A;
}

/*
Altera a cor do nome da página ativa no cabeçalho.
!important foi utilizado para ignorar o override dado por :visited
*/
.pagina_ativa { 
    color: #F2994A !important;
}

@media (max-width: 800px){
    
    .cabecalho {
        justify-content: center;
        height: max(8vw, 40px);
        background: #041846;
    }

    .hamburguer_on {
        position: absolute;
        left: 0;
    }

    .hamburguer_btn {
        height: max(8vw, 40px);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .cabecalho_logo {
        height: max(7vw, 30px);
        margin-left: 0;
    }

    .sidebar_hidden {
        position: fixed;
        height: 100%;
        width: max(18vw, 90px);
        background-color: #001136;

        left: 100%;
    }

    .sidebar_shown {
        position: fixed;
        height: 100%;
        width: max(18vw, 90px);
        background-color: #001136;

        animation: left2right 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes left2right {
        from {transform: translateX(-100%)};
        to {transform: translateX(100%)};
    }

    .sidebar_hiding {
        position: fixed;
        height: 100%;
        width: max(18vw, 90px);
        background-color: #001136;     

        animation: right2left 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes right2left {
        to {transform: translateX(-100%)};
    }

    .sidebar_items {
        display: inline-grid;
        margin-top: 1vh;
        row-gap: 1vh;
        height: max(50vh, 150px);
        width: 100%;
    }

    .sidebar_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        background-color: #041846;
    }

    .sidebar_btn:hover, .sidebar_btn:active {
        background-color: #051e5a;
    }

    .sidebar_btn:hover > .cabecalho_txt {
        color: #F2994A
    }

    .cabecalho_txt:link {
        position: absolute;
        font-size: max(2.1vw, 11px);
    }
}

a {
    color: #EAF7FB;
    text-decoration: none;
    outline: 0
}

a:visited {
    text-transform: inherit;
    text-decoration: none; 
    font-size: inherit;
    color: inherit
}


/*************************/
/* Estilização do Rodapé */
/*************************/

.rodape {
    width: 100%;
    background: #041846;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center
}
.rodape_logo2{
    padding: 3vw;
    width: auto;
    height: 8vw;
}
.rodape_social{
    padding: 1vw;
    text-align: center
}
.rodape_social_box{
    width: 100%;
    background: #F5761D;
    border-radius: 30px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 2.3vw;
    line-height: 2.5vw;
    color: #FFFFFF;
    padding: 1vw;
}

.link_rodape {
    width: 4.3vw;
    height: 4.3vw;
    margin-right: 0.3vw;
    margin-left: 0.3vw;
    transition: 0.025s;
    border-radius: 3vw;
}
.link_rodape:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
.location {
    padding: 1vw;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 2.8vw;
    line-height: 3vw;
    color: #FFFFFF
}
.location_text {
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 1.8vw;
    color: #FFFFFF
}
@media (max-width: 800px){
    .rodape {
        background: #041846;
        display: flex;
        flex-direction: column;
        margin-top: 10vw;
    }
    .rodape_logo2{
        padding: 3vw;
        width: 34vw;
        height: auto;
    }
    .rodape_social_box{
        width: 100%;
        background: #F5761D;
        border-radius: 5vw;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 5.5vw;
        line-height: 2.5vw;
        color: #FFFFFF;
        padding: 3vw;
        margin-left: auto;
        margin-left: auto;
    }

    .link_rodape {
        width: 10vw;
        height: auto;
        margin-right: 1vw;
        margin-left: 1vw;
        transition: 0.025s;
        border-radius: 3vw;
    }

    .location {
        padding: 1vw;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: bold;
        font-style: normal;
        font-size: 2.8vw;
        color: #FFFFFF
    }
   
}