@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    background-color: #EAF7FB;
}
.logo{
    margin-left: 5em;
}
.text_cabecalho {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 2.5em;
    margin-right: 2em;
    color: #EAF7FB;
}

.rect_cabecalho {
    width: auto;
    height: 10em;
    background: #041846;
    box-shadow: 0px 0.2em 0.2em rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.text_cabecalho:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    color: #F2994A;;
}

.title_faqs{
    margin-top:2em;
}

.faq_box{
    margin-top: 2em;
    font-size: 2em;
    color: #041846;
    display: flex;
    justify-content: space-between;
}

.btnAnswer{
    background-color: none; /* Blue background */
    background: 0em;
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

.btnAnswer:active {
    text-shadow: 0 5px #666;
  }

.faq_and_answer{
    text-align: center;
    margin: auto;
    display:flex;
    width: 50%;
    flex-direction: column;
}

.answer{
    font-size: 0.8em;
    color: #041846;
    opacity: 0.8;

}
.title_faqs{
    font-size: 3em;
    font-weight: 500;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
    text-align: center;
}
.blue_line{
    color: #041846;
    background-color: #041846;
    border: 0;
    clear:both;
    display:block;
    width: 96%;    
    height: 0.05em;
}

.background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 5.015em;
    box-sizing: border-box;
}

.caixa-superior{
    position: absolute;
    width: 75%;
    height: 8em;
    left: 10em;
    top: 21.8em;

    background: rgba(0, 0, 0, 0.7);
}

.texto-superior{
    position: absolute;
    width: 35em;
    height: 20em;
    left: 10em;
    top: 16.1em;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: center;

    color: #F2F2F2;
}

.saiba-mais{
    position: absolute;
    width: 20em;
    height: 41px;
    left: 28.5em;
    top: 33em;
    background: #F2994A;
    border-radius: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    color: white;
    border: none;
}

.titulo{
    position: absolute;
    width: 20em;
    height: 10em;
    left: 18em;
    top: 29em;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 3em;
    text-align: center;

    color: #434343;
}

#aprenda-ia{
    width: 20em;
    height: 10em;
    left: 18em;
    top: 29em;
}

.descricao{
    position: absolute;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #434343;
}

#descricao-aprenda-ia{
    width: 29em;
    height: 20em;
    left: 30em;
    top: 51em;
}

.img-aprenda-ia{
    position: absolute;
    width: 20em;
    height: 15em;
    left: 10em;
    top: 59em;

    border-radius: 30px;
}

.projeto{
    position: absolute;
    width: 100%;
    height: 85%;
    left: 0em;
    top: 82em;
}

#eventos{
    position: absolute;
    width: 20em;
    height: 10em;
    left: 2.5em;
    top: 63em;
}

#descricao-eventos{
    position: absolute;
    width: 30em;
    height: 7em;
    left: 5em;
    top: 106em;
}

.img-eventos{
    position: absolute;
    left: 51em;
    top: 126em;
    border-radius: 30px;
    width: 20em;
    height: 15em;
}

.computador{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0em;
    top: 151em;
}

#projetos{
    position: absolute;
    width: 20em;
    height: 15em;
    left: 18em;
    top: 100em;
}

#descricao-projetos{
    width: 29em;
    height: 20em;
    left: 30em;
    top: 165em;
}

.projetos{
    position: absolute;
    width: 20em;
    height: 15em;
    left: 10em;
    top: 200em;

    border-radius: 30px;
}