.container {
    text-align: center;

}

.titles {
    display: flex;
    justify-content: center;
    font-size: max(2.9vw, 20px);
    font-weight: 500;
    margin: max(60px, 10vw) 0 20px 0;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
}

.text {
    font-size: max(1.1vw, 11px);
    margin: 2vw 0 4vw 0;
}

.subtitle {
    font-size: max(2.5vw, 16px);
    font-weight: 500;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
}

.next_events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 1vw;
    column-gap: 1vw;
    width: 80%;
    margin: 2vw 0 4vw 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.done_events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1vw;
    column-gap: 1vw;
    width: 80%;
    margin: 2vw 0 4vw 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.event {
    display: flex;
    flex-direction: column;
    height: 20vw;
    padding: 1.5vw;
    border-radius: 2vw;
    background-color: #d9f0fc;
    animation: fadein 1s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.event:hover .event_img, .event:hover .date {
    transform: scale(1.03);
}

.event:hover .event_name {
    text-decoration: underline;
}

.img_ctr {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 0;
    height: 70%;
}

.event_img {
    height: 100%;
    border-radius: 2vw;
    object-fit: cover;
    transition: 0.1s;
}

.name_ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.event_name {
    text-transform: uppercase;
    color: #F2994A;
    text-shadow: 0.01em 0.01em 0.01em gray;
    font-size: max(1.2vw, 10px);
    margin-top: 1vw;

    /* Adiciona reticências para títulos com mais de 2 linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.toggler_ctr {
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}

.toggler {
    font-size: max(11px, 1.5vw);
}

.to_show::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(90px, 13vw);
    height: max(25px, 4vw);
    border-radius: max(15px, 2.5vw);
    background-color: #f58637;
    color: white;
    content: "Mostrar todos";
}

.to_show:hover::after {
    background-color: #ff6a00;
}

.to_hide::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(90px, 13vw);
    height: max(25px, 4vw);
    border-radius: max(15px, 2.5vw);
    background-color: #f58637;
    color: white;
    content: "Esconder";
}

.to_hide:hover::after {
    background-color: #ff6a00;
}

@media (max-width: 800px) {

    .done_events {
        width: 90%;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(120px, 38vw));
    }

    .next_events {
        width: 90%;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(120px, 38vw));
    }

    .event_name {    
        /* Adiciona reticências para títulos com mais de 1 linha*/
        -webkit-line-clamp: 1;
    }
}
