.titulo_eventos{
    margin-top:4em;
    font-size: 3em;
    font-weight: 500;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
    text-align: center;
}
.subtitulos{
    font-size: 2.5em;
    margin-top: 1.5em;
    font-weight: 500;
    color: #F2994A;
    text-shadow: 0.03em 0.03em 0.03em gray;
    text-align: center;
}
.container{
    text-align: center;
}
.description {
    margin-top: 1em;
    color: #929292;
    text-align: center;
    font-family: Open Sans;
}
.more_events_box{
    width: 206px;
    height: 45px;
    background: #F5761D;
    border-radius: 30px;
    text-align: Center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: 3em;
    color: #ffffff;
    padding: 5px;
}    

.more_events_box button ::-moz-focus-inner {
    border: 0;
  }  
  
.more_events_box button:active{
    outline: 0;
}

.ul_events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 1.5em;
    justify-items: center;
    justify-content: center;
}

.li_events{
    display:flex;
    align-items: center;
    justify-items: center;
    padding: 1.2em;
}

.event-img{
    width: 100%;
    max-width: 40vw;
    border-radius: 30px;
    transition: 0.2s;
}

@media (max-width: 900px) {
    .event-img{
        max-width: 60vw;
    }
  }

.event-img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper{
    text-align: center;
}
