.faq {
  display:flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.title {
  font-size: max(3vw, 30px);
  font-weight: 500;
  margin: max(30px, 2vw) 0 20px 0;
  color: #F2994A;
  text-shadow: 0.03em 0.03em 0.03em gray;
}

.qtn_ans_ctr {
  display: flex;
  flex-direction: column;
}

.question_ctr {
  display: flex;
  justify-content: space-between;
  margin: 0 0 max(1vw, 8px) 0;
  border-radius: 30px;
  background-color: #dfeafa;
}

.question {
  font-size: max(14px, 1.3vw);
  line-height: max(24px, 2.3vw);
  padding-left: 20px;
  text-align: left;
  cursor: pointer;
  color: #041846;
}

.toggler {
  display: flex;
  align-items: center;
  padding-right: 20px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.toggler_icon {
  font-size: max(25px, 2.2vw);
  color: #F2994A;
}

.answer {
  font-size: max(14px, 1.3vw);
  line-height: max(24px, 2.3vw);
  padding-left: 20px;
  margin: 0 0 20px 0;
  text-align: left;
  color: #041846;
  opacity: 0.8;
  animation: fadein 0.5s linear;
}

@keyframes fadein {
  from {opacity: 0};
  to {opacity: 1};
}

.hide {
  display: none;
}

.forms {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 4vw;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70vw
}

.field_ctr {
  display: flex;
  align-items: center;
  margin: max(5px, 1.2vw);
}

.icon_bkgd {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #041846;
  width: max(30px, 3vw);
  height: max(25px, 2.5vw);
  border-radius: 0.5vw;
}

.icon {
  font-size: max(16px, 1.4vw);
  color: #ffffff;
}

.field {
  flex-grow: 1;
  padding: max(10px, 1.5vw);
  font-size: max(1vw, 12px);
  margin: 0 10px 0 10px;
  border-radius: max(10px, 1.6vw);
  border: 2px solid rgb(255, 255, 255);
  transition: 0.5s;
  outline: none;
  position: relative;
}

.field:focus {
  border: 2px solid #F2994A;
}

.msg_field {
  min-height: max(80px, 4vw);
  resize: vertical;
  font-family: Arial, sans-serif;
  flex-grow: 1;
  padding: max(15px, 1.5vw);
  font-size: max(1vw, 12px);
  margin: 0 10px 0 10px;
  border-radius: max(10px, 1.6vw);
  border: 2px solid rgb(255, 255, 255);
  transition: 0.5s;
  outline: none;
}

.msg_field:focus {
  border: 2px solid #041846
}

.error {
  border: 2px solid #FF0000;
}

.txt_ctr {
  width: max(60px, 6vw);
}

.txt_error {
  font-size: max(10px, 0.9vw);
  color: #FF0000;
  animation: fadein 1s;
}

/* BOTÃO ENVIAR */

:root {
  --btn_width: max(80px, 10vw);
  --btn_height: max(40px, 4vw);
}

.submit_ctr {
  display: flex;
  position: relative;
  width: var(--btn_width);
  justify-content: center;
  margin: 0 10px 0 10px;
}

.static, .moving {
  width: var(--btn_width);
  height: var(--btn_height);
  font-size: 1.5vw;
  border: 3px solid #F2994A;
  border-radius: calc(var(--btn_height) / 2);
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #df7d27;
  transition: all 0.2s ease;
}

.static::after {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top:0;
  left: 50%;
  width: 0;
  height: var(--btn_height);
  border-radius: calc(var(--btn_height) / 2);
  transform: translateX(-50%);
  font-size: max(13px, 1.4vw);
  content: 'Enviar';
}

.static:hover::after {
  background-color: #F2994A;
  animation: expand 0.3s;
  animation-fill-mode: forwards;
}

@keyframes expand {
  to {width: var(--btn_width)}
}

.round {
  width: var(--btn_height);
  background-color: transparent;
}

.loading {
  border-color: rgb(193, 194, 252);
  border-top: 3px solid #3BB873;
  animation: rotate 0.5s linear infinite;
  cursor: unset;
}

@keyframes rotate {
  0% {transform: rotateZ(0)}
  100% {transform: rotateZ(360deg)}
}

.success {
  background-color: #3BB873;
  border: 2px solid #3BB873;
  color: #ffffff;
  animation: debug 0.4s linear infinite;
  font-size: 0;
  cursor: unset;
}

/* Previne comportamento indesejado no Firefox*/

@keyframes debug {
  from {transform: rotateZ(0)}
  to {transform: rotateZ(0)}
}

.success::after {
  font-size: calc(var(--btn_height) / 2);
  content: "\2713";
}

.fail {
  border: none;
  transition: 0.2s;
  background-color: #ff0000;
  cursor: unset;
}

.fail::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--btn_height) / 2);
  content: "\2715";
}

.pulsate {
  animation: pump 0.4s linear;
}

@keyframes pump {
  0% {transform: scale(1)}
  70% {transform: scale(1.1)}
  100% {transform: scale(1)}
}


@media (max-width: 800px) {

  .faq {
    width: 80%;
  }

  .forms {
    width: max(80vw, 280px);
  }
}

@media (max-width: 500px) {

  .faq {
    width: 90%;
  }

  .answer {
    text-align: justify;
    padding: 0 10px 0 10px;
  }

  .field_ctr {
    flex-direction: column;
  }

  .field {
    margin: 5px 0 0 0;
    width: 85%;    
  }

  .msg_field {
    min-height: 80px;
    margin: 5px 0 0 0;
    width: 82%;
  }

  .txt_ctr {
    width: 100%;
  }

  .submit_ctr {
    margin: 20px 0 0 0;
  }

  .icon, .icon_bkgd {
    display: none;
  }
}